@using ChokaQ.TheDeck.UI.Components.OpsPanel.JobInspector
@using ChokaQ.TheDeck.UI.Components.OpsPanel.JobEditor
@namespace ChokaQ.TheDeck.UI.Components.OpsPanel

<aside class="ops-panel">
    @if (_activePanel == OpsPanelType.JobInspector && _selectedJobId != null)
    {
        <JobInspector JobId="@_selectedJobId" 
                      OnClose="ClearPanel" 
                      OnRestart="HandleRequeue" 
                      OnDelete="HandleDelete"
                      OnEdit="HandleEdit" />
    }
    else if (_activePanel == OpsPanelType.JobEditor && _editorModel != null)
    {
        <JobEditor Job="@_editorModel"
                   OnClose="ClearPanel"
                   OnSaved="HandleJobSaved" />
    }
    else
    {
        <div class="ops-panel__empty">
            <span>No active panel</span>
        </div>
    }
</aside>
