@using ChokaQ.TheDeck.UI.Components.OpsPanel.JobInspector
@namespace ChokaQ.TheDeck.UI.Components.OpsPanel

<aside class="ops-panel">
    @if (_activePanel == OpsPanelType.JobInspector && _selectedJobId != null)
    {
        <JobInspector JobId="@_selectedJobId" 
                      OnClose="ClearPanel" 
                      OnRestart="HandleRequeue" 
                      OnDelete="HandleDelete" />
    }
    else
    {
        <div class="ops-panel__empty">
            <span>No active panel</span>
        </div>
    }
</aside>
