@namespace ChokaQ.TheDeck.UI.Components.HeaderLeft

<header class="header-left">
    <div class="header-left__title">
        CHO<span class="header-left__accent">KAQ</span>
    </div>
    <div class="header-left__divider"></div>
    <div class="header-left__subtitle">
        THE DECK
    </div>
    
    <div class="header-left__connection">
        <span class="header-left__connection-label">CONNECTION</span>
        @if (IsConnected)
        {
            <span class="matrix__status-label matrix__status-label--online">ONLINE</span>
        }
        else
        {
            <span class="matrix__status-label matrix__status-label--offline">OFFLINE</span>
        }
    </div>
</header>
