@namespace ChokaQ.TheDeck.UI.Components.HeaderLeft

<header class="header-left">
    <div class="header-left__title">
        CHOKA<span class="header-left__accent">Q</span>
    </div>
    <div class="header-left__divider"></div>
    <div class="header-left__subtitle">
        THE DECK
    </div>
</header>
