@using ChokaQ.TheDeck.Models
@namespace ChokaQ.TheDeck.UI.Components.ConsoleLog

<section class="console">
    <h3 class="console__title">System Console</h3>
    <div class="console__list">
        @if (Logs.Count == 0)
        {
            <div class="console__empty">No logs available</div>
        }
        else
        {
            @foreach (var log in Logs)
            {
                <div class="console__line">
                    <span class="console__timestamp">@log.Timestamp.ToString("HH:mm:ss")</span>
                    <span class="console__message @GetMessageModifier(log.Level)">@log.Message</span>
                </div>
            }
            <div @ref="_bottomAnchor" class="console__anchor"></div>
        }
    </div>
</section>
