<div class="cq-height-100 cq-flex cq-align-items-center">
    <div class="cq-width-100 cq-flex cq-align-items-center cq-gap-2 cq-flex-wrap">

        <div class="cq-flex cq-align-items-center cq-gap-0-5">
            <div class="cq-font-bold cq-font-size-small">WORKERS</div>
            <input type="number"
                   class="cq-input"
                   style="width: 70px;"
                   min="0"
                   max="100"
                   @bind="DesiredWorkers" />
            <span class="cq-text-muted cq-font-size-small cq-margin-left-0-5">(Active: @WorkerManager.ActiveWorkers)</span>
        </div>

        <div class="cq-flex cq-align-items-center cq-gap-0-5">
            <div class="cq-font-bold cq-font-size-small">RETRIES</div>
            <select class="cq-select" style="width: 60px;"
                    @bind="MaxRetries">
                @for (int i = 1; i <= 10; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>

        <div class="cq-flex cq-align-items-center cq-gap-0-5">
            <div class="cq-font-bold cq-font-size-small">BASE DELAY (S)</div>
            <input type="number" class="cq-input" style="width: 70px;"
                   min="1" max="3600" @bind="RetryDelaySeconds" />
        </div>

        <div class="cq-margin-left-auto">
            <button class="cq-btn cq-btn-sm cq-btn-outline-success cq-padding-left-2 cq-padding-right-2" @onclick="ApplyChanges">
                Apply
            </button>
        </div>
    </div>
</div>