@page "/chokaq"
@using ChokaQ.TheDeck.Enums
@using ChokaQ.TheDeck.UI.Components.HeaderLeft
@using ChokaQ.TheDeck.UI.Components.HeaderRight
@using ChokaQ.TheDeck.UI.Components.Stats
@using ChokaQ.TheDeck.UI.Components.JobMatrix
@using ChokaQ.TheDeck.UI.Components.Queues
@using ChokaQ.TheDeck.UI.Components.ConsoleLog
@using ChokaQ.TheDeck.UI.Components.Settings
@using ChokaQ.TheDeck.UI.Components.Circuits
@using ChokaQ.TheDeck.UI.Components.OpsPanel
@namespace ChokaQ.TheDeck.UI.Pages
@implements IAsyncDisposable

<main class="deck">

    <div class="deck__col deck__col--main">
        <header class="deck__row deck__row--header">
            <HeaderLeft IsConnected="@IsConnected" />
        </header>

        <section class="deck__row deck__row--queues">
            <Queues HubConnection="_hubConnection" />
        </section>

        <nav class="deck__row deck__row--stats">
            <Stats Counts="_counts"
                   SelectedStatus="_activeStatusFilter"
                   IsInteractive="@(_currentContext == JobSource.Hot)"
                   OnStatusSelected="HandleStatusSelected" />
        </nav>

        <section class="deck__row deck__row--matrix">
            <JobMatrix Jobs="_jobs"
                       IsConnected="IsConnected"
                       CurrentSource="_currentContext"
                       OnSourceChanged="HandleSourceChanged"
                       ActiveStatusFilter="_activeStatusFilter"
                       OnJobSelected="HandleJobInspectorRequested"
                       OnRefreshRequested="HandleDataRefreshRequest"
                       OnCancel="HandleSingleCancel"
                       OnRestart="HandleSingleRestart"
                       OnBulkCancel="HandleBulkCancel"
                       OnBulkRetry="HandleBulkRetry"
                       OnBulkPurge="HandleBulkPurge" />
        </section>

        <footer class="deck__row deck__row--console">
            <ConsoleLog Logs="_logs" />
        </footer>
    </div>

    <aside class="deck__col deck__col--side">
        <header class="deck__row deck__row--header">
            <HeaderRight />
        </header>

        <section class="deck__row deck__row--settings">
            <Settings IsConnected="IsConnected" OnLog="HandleLog" />
        </section>

        <section class="deck__row deck__row--circuits">
            <Circuits Breakers="_circuits" />
        </section>

        <section class="deck__row deck__row--ops">
            <OpsPanel @ref="_opsPanel"
                      HubConnection="_hubConnection"
                      IsHistoryMode="IsHistoryMode"
                      CurrentContext="_currentContext"
                      TotalItems="_historyTotalItems"
                      CurrentPage="_historyPageNumber"
                      PageSize="_historyPageSize"
                      OnLoadRequest="HandleHistoryLoadRequest"
                      OnRequeue="HandleRequeueRequested"
                      OnDelete="HandleDeleteRequested" />
        </section>
    </aside>

    <ToastContainer Toasts="_activeToasts" OnClose="RemoveToast" />
</main>