/* Flashbang (Light / Pain) */
.cq-theme-flashbang {
    --cq-bg: #ffffff;
    --cq-panel-bg: #f2f2f2;
    --cq-text: #000000;
    --cq-text-muted: #555555;
    --cq-border: #dcdcdc;
    --cq-success: #000000;
    --cq-warning: #000000;
    --cq-danger: #000000;
    --cq-info: #000000;
}
