/* Script Kiddie (Matrix) */
.cq-theme-kiddie {
    --cq-bg: #0d0208;
    --cq-panel-bg: #000000;
    --cq-text: #00ff00;
    --cq-text-muted: #004400;
    --cq-border: #00ff00;
    --cq-success: #00ff00;
    --cq-warning: #adff2f;
    --cq-danger: #ff0000;
    --cq-info: #00ffff;
    --cq-font: 'Courier New', Courier, monospace;
}
