@namespace ChokaQ.TheDeck.UI.Components.HeaderRight

<div class="header-right">
    <div class="header-right__selector">
        <span class="header-right__label">THEME</span>
        <select class="header-right__select" @onchange="OnThemeChanged">
            <option value="blueprint">BLUEPRINT</option>
            <option value="carbon">CARBON</option>
        </select>
    </div>
</div>
